@import "normalize";
@import "fonts";
@import "rouge-base16-dark";

/* スクロールバーを常に表示させる */
html {
  overflow-y: scroll;
}

body {
  font:14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#666;
  font-weight:300;
  margin: 0px;
  padding:0px 0 20px 0px;
  background: #e0e0c8;
}

h1, h2, h3, h4, h5, h6 {
  color:#333;
  margin:0 0 10px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  font-size: 24px;
  color:#393939;
}

h3, h4, h5, h6 {
  color:#666666;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

small {
  font-size:12px;
}

a {
  color:#3399cc;
  font-weight:400;
  text-decoration:none;
  small {
    font-size:11px;
    color:#666;
    margin-top:-0.6em;
    display:block;
  }
}

ul{
  list-style-image:url('../images/bullet.png');
}

strong {
  font-weight: bold;
  color: #333;
}

section img {
  max-width: 100%;
}

/* -------- 引用 -------- */
blockquote {
    border: 1px solid #ffcc00;
    border-radius: 5px;
    margin: 1em 0;
    padding: 16px 20px 16px 20px;
    font-style: italic;

    /* デフォルトの背景色 */
    background-color: #e0e0e0;

    /* 各状態で背景色を変える */
    &.is-note {
        background-color: #e0f2ff;
    }
    &.is-warning {
        background-color: #fff1cc;
    }
    &.is-error {
        background-color: #ffcccc;
    }
    &.is-tip {
        background-color: #caffba;
    }
    &.is-important {
        background-color: #ffd4ab;
    }
}

code {
  font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size:13px;
  color:#efefef;
  text-shadow: 0px 1px 0px #000;
  margin: 0 4px;
  padding: 2px 6px;
  background: #333333;
  border-radius: 2px;
}

pre {
  padding:8px 15px;
  background: #333333;
  border-radius: 3px;
  border:1px solid #c7c7c7;
  overflow: auto;
  overflow-y: hidden;

  code {
    font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
  }

  /* -------- 行番号表示関連設定 -------- */
  .line-number {
    display: block;
    float: left;
    font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    font-size: 1em;
    text-shadow: 0px 1px 0px #000;
    margin-left: -1em;
    margin-right: 1em;
    border-right: 1px solid #ddd;
    text-align: right;
    span {
      display: block;
      font-size: 1em;
      padding: 0 .5em 0 1em;
      color: #ccc;
    }
  }
  /* float解除用 */
  .cl {
    display: block;
    clear: both;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
  color: #444;
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
  border-right: 1px solid #ffcc00;

  &:first-child {
    border-left: 1px solid #ffcc00;
  }
}

hr {
  border: 0;
  outline: none;
  height: 11px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color:#444;
  font-weight:700;
}

/* -------------------------------------------------------------------------------------------------------- */
// ヘッダの色(未定義時のデフォルト)
$default_color:   #0d5bee !default;
$top_color:       #00b300 !default;
$debug_color:     #ffcc00 !default;

header {
  width: auto;
  height: 80px;
  padding: 25px 20px 40px 20px;
  margin: 0;
  text-align: center;
  box-shadow: 1px 0px 2px rgba(0,0,0,.75);
  z-index:99;
  -webkit-font-smoothing:antialiased;
  h1 {
    font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f3f3f3;
    text-shadow: 0px 2px 0px #235796;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }
  p {
    color: #d8d8d8;
    text-shadow:rgba(#000, 0.2) 0 1px 0;
    font-size: 18px;
    margin: 0px;
  }
  .title {
    display: inline-block;
    padding:0 30px;
    margin: auto;
  }
}

footer {
  clear: both;
  width: auto;
  padding: 0 10px;
  color: #f3f3f3;
  a:link    { color: #ffc0c0; }
  a:visited { color: #ffc0c0; }
  p {
    margin: 5px 0;
    &.right {
      float: right;
      width: auto;
      text-align: right;
    }
    &.copyright {
      text-align: center;
    }
    &.cl {
      clear: both;
    }
  }
}

header,footer {
  background: $default_color;
  &.toppage {
    background: $top_color;
  }
  &.debug {
    background: $debug_color;
  }
}

/* -------------------------------------------------------------------------------------------------------- */
nav {
  float: left;
  width: 230px;
  margin: 20px 0 0 0;
  padding: 0 0 0 10px;
  text-align: left;
  white-space: nowrap;
  overflow: auto; 

  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top: 10px;                 /* 上端から10pxのところで固定 */

  .outline {
    max-height: 60vh;
    overflow: auto;
    ul {
      list-style: none;
      list-style-image:none;
      font-size: 14px;
      line-height:24px;

      li {
        padding: 5px 0px;
        line-height: 16px;

        &.tag-h1 {
          font-size: 1.2em;

          a {
            font-weight: bold;
            color: #333;
          }
          + .tag-h2 {
          }
        }

        &.tag-h2 {
          + .tag-h1 {
            margin-top:10px;
          }
        }
      }

      a {
        color: #666;
        &:hover { color: #999; }
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------------- */
.wrapper {
  width: auto;
  height: auto;
  float: left;
}

/* -------------------------------------------------------------------------------------------------------- */
section {
  float: left;
  width: 800px;
  height: auto;
  margin: 20px;
  padding: 10px;
  background: #fbfbfb;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px rgba(0,0,0,.09), inset 0px 0px 2px 2px rgba(255,255,255,.5), inset 0 0 5px 5px rgba(255,255,255,.4);
}

/* -------- tag絞り込み関連処理 -------- */
.list_item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 10px;
}

.list_hide {
    display: none;
}

select#tag_selrctor {
    width: 100%;
}
