<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ site.title }}</title>
  </head>
  <body>
    <header class="toppage">
      <div class="title" >
        <div class="avatar" style="float:left;">
          <img src={{ site.github.owner.avatar_url }} style="width: 100%; height: 100%;">
        </div>
        <h1 style="text-align:left;">{{ site.title | default: site.github.repository_name }}</h1>
      </div>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
    </header>

    {% comment %} site.tags のキー 一覧作成 {% endcomment %}
    {% assign tag_keys = "" | split: "|" %}
    {% for item in site.tags %}
      {% assign tag_keys = tag_keys | push: item[0] %}
    {% endfor %}
    {% assign tag_keys = tag_keys | sort %}

    <nav>
      <p style="text-align: left;">
        タグの選択<br>
        <select id="tag_selrctor" name="tag_selrctor">
          <option value="">ALL</option>
          {% for item in tag_keys %}
            <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>
      </p>
      <div class="outline" style="max-height: 50vh;">
        <hr style="background: url(none); background-color: aqua; width: 100%; height:3px; border: none; margin:0 0 0;">
        USEFUL <br />
        <ul>
          <li><a href="{{ site.baseurl }}/2020/09/03/windows_koneta.html">Windows 小ネタ集</a></li>
          <li><a href="{{ site.baseurl }}/2020/05/26/ubuntu_koneta.html">ubuntu 小ネタ集</a></li>
          <li><a href="{{ site.baseurl }}/2020/09/20/raspi_koneta.html">RaspberryPi 小ネタ集</a></li>
          <li><a href="{{ site.baseurl }}/2020/09/20/python_koneta.html">python 小ネタ集</a></li>
          <li><a href="{{ site.baseurl }}/2021/02/09/google_koneta.html">Google 小ネタ集</a></li>
          <li><a href="{{ site.baseurl }}/2020/07/01/git_cmd.html">git クイックリファレンス</a></li>
        </ul>
      </div>

      <!--
      <div class="outline">
        <hr style="background: url(none); background-color: aqua; width: 100%; height:3px; border: none; margin:0 0 0;">
        TAG <br />
        <ul>
          {% for item in tag_keys %}
            <li><a href="{{ item }}">{{ item }}</a></li>
          {% endfor %}
        </ul>
      </div>
    -->

    <p class="to_top">
        <a href="#" onClick="$('body,html').animate({scrollTop: 0                   },1500); return false;">最初</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" onClick="$('body,html').animate({scrollTop: $(document).height()},1500); return false;">最後</a>
      </p>
    </nav>
    <div class="wrapper">
      <section>
        {% for post in site.posts %}
          <div class="list_item" data-tags='{{ post.tags | inspect | smartify }}'>
            <p style="text-align:left; float: left; margin: 0; font-size: x-large;"> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
            <p style="text-align:right; margin: 0;">{{ post.date | date: "%Y-%m-%d" }} <br></p>
            <p style="text-align:left;  margin: 0;">{{ post.excerpt }}</p>
            {% for tag in post.tags %}
                <span class="tag_label">{{ tag }}</span>
            {% endfor %}
          </div>
        {% endfor %}
        {{ content }}
      </section>
    </div>
    <footer class="toppage">
      {% include footer.html %}
    </footer>
  </body>
</html>
